{{/* this is a docker-gen template. See docker-gen for more details */}}
filebeat:
  registry_file: {{ .Env.DOCKLOGBEAT_REGISTRY_FILE_NAME }}
  prospectors:
    {{/* dummy prospector to keep filebeat from crashing when no containers exist */}}
    -
      paths:
        - /var/log/dummy
    {{/* only create entries for containers with label docklogbeat=true */}}
    {{ range $index, $value := whereLabelValueMatches . .Env.DOCKLOGBEAT_LABEL_KEY .Env.DOCKLOGBEAT_LABEL_VALUE }}
    -
      paths:
        - /var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log
      json.keys_under_root: true
      json.add_error_key: true
      json.message_key: log
      fields:
        docker_image: {{ $value.Image }}
        docker_name: {{ $value.Name }}
      {{ if contains $value.Labels "docklogbeat_document_type" }}
      document_type: {{ $value.Labels.docklogbeat_document_type }}
      {{ end }}
      close_inactive: 5m
    {{ end }}
output:
  logstash:
    hosts:
      {{ range $index, $value := split .Env.LOGSTASH_HOSTS "," }}
      - {{ trim $value }}
      {{ end }}
logging.level: warning
